<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdom.system.mapper.NoProductParentMapper">
    
    <resultMap type="com.kingdom.system.data.entity.NoProductParent" id="NoProductParentResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastModified"    column="last_modified"    />
        <result property="remark"    column="remark"    />
        <result property="date"    column="date"    />
    </resultMap>
	
	<sql id="selectNoProductParentVo">
        select id, create_time, last_modified, remark, date from t_no_product_parent
    </sql>
	
    <select id="selectNoProductParentList" parameterType="com.kingdom.system.data.entity.NoProductParent" resultMap="NoProductParentResult">
        <include refid="selectNoProductParentVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="lastModified != null "> and last_modified = #{lastModified}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="date != null "> and date = #{date}</if>
         </where>
    </select>
    
    <select id="selectNoProductParentById" parameterType="Long" resultMap="NoProductParentResult">
        <include refid="selectNoProductParentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNoProductParent" parameterType="com.kingdom.system.data.entity.NoProductParent" useGeneratedKeys="true" keyProperty="id">
        insert into t_no_product_parent
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,
			<if test="lastModified != null  ">last_modified,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="date != null  ">date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			NOW(),
			<if test="lastModified != null  ">#{lastModified},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="date != null  ">#{date},</if>
         </trim>
    </insert>
	 
    <update id="updateNoProductParent" parameterType="com.kingdom.system.data.entity.NoProductParent">
        update t_no_product_parent
        <trim prefix="SET" suffixOverrides=",">
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="date != null  ">date = #{date},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteNoProductParentById" parameterType="Long">
        delete from t_no_product_parent where id = #{id}
    </delete>
	
    <delete id="deleteNoProductParentByIds" parameterType="String">
        delete from t_no_product_parent where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>