<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdom.system.mapper.NoProductMapper">
    
    <resultMap type="com.kingdom.system.data.entity.NoProduct" id="NoProductResult">
        <result property="id"    column="id"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="number"    column="number"    />
        <result property="remark"    column="remark"    />
        <result property="noProductParentId"    column="no_product_parent_id"    />
    </resultMap>
	
	<sql id="selectNoProductVo">
        select id, product_id, product_name, number, remark,no_product_parent_id from t_no_product
    </sql>
	
    <select id="selectNoProductList" parameterType="com.kingdom.system.data.entity.NoProduct" resultMap="NoProductResult">
        <include refid="selectNoProductVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="productId != null "> and product_id = #{productId}</if>
             <if test="productName != null  and productName != '' "> and product_name = #{productName}</if>
             <if test="number != null "> and number = #{number}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectNoProductById" parameterType="Long" resultMap="NoProductResult">
        <include refid="selectNoProductVo"/>
        where id = #{id}
    </select>

    <select id="listNoProduct" resultMap="NoProductResult">
        <include refid="selectNoProductVo"/>
        WHERE 1 = 1
        <if test=" search != '' "> AND product_name LIKE #{search}</if>
        ORDER BY id DESC
    </select>

    <select id="listNoProductByIds" resultMap="NoProductResult" parameterType="collection">
        <include refid="selectNoProductVo"/>
        WHERE no_product_parent_id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectProductByParentId" resultMap="NoProductResult">
        <include refid="selectNoProductVo"/>
        WHERE id = #{noProductId} and no_product_parent_id = #{noProductParentId}
    </select>

    <insert id="insertNoProduct" parameterType="com.kingdom.system.data.entity.NoProduct" useGeneratedKeys="true" keyProperty="id">
        insert into t_no_product
		<trim prefix="(" suffix=")" suffixOverrides=",">
            create_time,
			<if test="productId != null  ">product_id,</if>
			<if test="productName != null  and productName != ''  ">product_name,</if>
			<if test="number != null  ">number,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="noProductParentId != null  ">no_product_parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            NOW(),
			<if test="productId != null  ">#{productId},</if>
			<if test="productName != null  and productName != ''  ">#{productName},</if>
			<if test="number != null  ">#{number},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="noProductParentId != null    ">#{noProductParentId},</if>
         </trim>
    </insert>
	 
    <update id="updateNoProduct" parameterType="com.kingdom.system.data.entity.NoProduct">
        update t_no_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null  ">product_id = #{productId},</if>
            <if test="productName != null  and productName != ''  ">product_name = #{productName},</if>
            <if test="number != null  ">number = #{number},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateNumber">
        update t_no_product SET number = number + #{number} WHERE id = #{noProductId} and number = #{oldNumber}
    </update>

    <delete id="deleteNoProductById" parameterType="Long">
        delete from t_no_product where id = #{id}
    </delete>
	
    <delete id="deleteNoProductByIds" parameterType="Long">
        delete from t_no_product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>