<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdom.system.mapper.OrderExpressMapper">
    
    <resultMap type="com.kingdom.system.data.entity.OrderExpress" id="OrderExpressResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastModified"    column="last_modified"    />
        <result property="orderId"    column="order_id"    />
        <result property="expressName"    column="express_name"    />
        <result property="expressAddress"    column="express_address"    />
        <result property="expressCompany"    column="express_company"    />
        <result property="expressNo"    column="express_no"    />
        <result property="printNumber"    column="print_number"    />
        <result property="remark"    column="remark"    />
        <result property="expressPhone"    column="express_phone"    />
        <result property="productName"    column="productName"    />
        <result property="moveType"    column="moveType"    />
        <result property="payType"    column="payTpe"    />
        <result property="phone"    column="phone"    />
    </resultMap>
	
	<sql id="selectOrderExpressVo">
        select id, create_time, order_id, express_name, express_phone, express_address, express_company, express_no, print_number, remark from t_order_express
    </sql>
	
    <select id="selectOrderExpressList" parameterType="com.kingdom.system.data.entity.OrderExpress" resultMap="OrderExpressResult">
        <include refid="selectOrderExpressVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="lastModified != null "> and last_modified = #{lastModified}</if>
             <if test="orderId != null "> and order_id = #{orderId}</if>
             <if test="expressName != null  and expressName != '' "> and express_name = #{expressName}</if>
             <if test="expressAddress != null  and expressAddress != '' "> and express_address = #{expressAddress}</if>
             <if test="expressCompany != null  and expressCompany != '' "> and express_company = #{expressCompany}</if>
             <if test="expressNo != null  and expressNo != '' "> and express_no = #{expressNo}</if>
             <if test="printNumber != null "> and print_number = #{printNumber}</if>
             <if test="remark != null "> and remark = #{remark}</if>
             <if test="expressPhone != null "> and express_phone = #{expressPhone}</if>
         </where>
    </select>
    
    <select id="selectOrderExpressById" parameterType="Long" resultMap="OrderExpressResult">
        <include refid="selectOrderExpressVo"/>
        where id = #{id}
    </select>

    <select id="selectOrderExpressListByOrderId" resultMap="OrderExpressResult">
        <include refid="selectOrderExpressVo"/>
        where order_id = #{orderId}
    </select>


    <select id="selectOrderExpressListByOrderIds" resultMap="OrderExpressResult"  parameterType="java.util.List">
        <include refid="selectOrderExpressVo"/>
        where order_id in
        <foreach item="orderIds" collection="list" open="(" separator="," close=")">
            #{orderIds}
        </foreach>

    </select>

    <select id="list" resultMap="OrderExpressResult">
      select express_name,express_phone phone,express_address,'大件快递3.60' moveType, '月结' payTpe, '日用品' productName
      from t_order_express
      <where>
        <if test="startDate != null  and startDate != '' "> and create_time <![CDATA[ >= ]]> #{startDate}</if>
        <if test="endDate != null  and endDate != '' "> and create_time <![CDATA[ <= ]]> #{endDate}</if>
      </where>
    </select>

    <insert id="insertOrderExpress" parameterType="com.kingdom.system.data.entity.OrderExpress" useGeneratedKeys="true" keyProperty="id">
        insert into t_order_express
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,
			<if test="lastModified != null  ">last_modified,</if>
			<if test="orderId != null  ">order_id,</if>
			<if test="expressName != null  and expressName != ''  ">express_name,</if>
			<if test="expressAddress != null  and expressAddress != ''  ">express_address,</if>
			<if test="expressCompany != null  and expressCompany != ''  ">express_company,</if>
			<if test="expressNo != null  and expressNo != ''  ">express_no,</if>
			<if test="printNumber != null  ">print_number,</if>
			<if test="remark != null  ">remark,</if>
			<if test="expressPhone != null  ">express_phone,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			NOW(),
			<if test="lastModified != null  ">#{lastModified},</if>
			<if test="orderId != null  ">#{orderId},</if>
			<if test="expressName != null  and expressName != ''  ">#{expressName},</if>
			<if test="expressAddress != null  and expressAddress != ''  ">#{expressAddress},</if>
			<if test="expressCompany != null  and expressCompany != ''  ">#{expressCompany},</if>
			<if test="expressNo != null  and expressNo != ''  ">#{expressNo},</if>
			<if test="printNumber != null  ">#{printNumber},</if>
			<if test="remark != null  ">#{remark},</if>
			<if test="expressPhone != null  ">#{expressPhone},</if>
         </trim>
    </insert>
	 
    <update id="updateOrderExpress" parameterType="com.kingdom.system.data.entity.OrderExpress">
        update t_order_express
        <trim prefix="SET" suffixOverrides=",">
            <if test="expressName != null  and expressName != ''  ">express_name = #{expressName},</if>
            <if test="expressAddress != null  and expressAddress != ''  ">express_address = #{expressAddress},</if>
            <if test="expressCompany != null  and expressCompany != ''  ">express_company = #{expressCompany},</if>
            <if test="expressNo != null  and expressNo != ''  ">express_no = #{expressNo},</if>
            <if test="printNumber != null  ">print_number = #{printNumber},</if>
            <if test="remark != null  ">remark = #{remark},</if>
            <if test="expressPhone != null  ">express_phone = #{expressPhone},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updatePrintNumber">
        update t_order_express set print_number = print_number + 1 where id = #{orderExpressId}
    </update>

    <delete id="deleteOrderExpressById" parameterType="Long">
        delete from t_order_express where id = #{id}
    </delete>
	
    <delete id="deleteOrderExpressByIds" parameterType="String">
        delete from t_order_express where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>