<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdom.system.mapper.OrderInfoMapper">
    
    <resultMap type="com.kingdom.system.data.entity.OrderInfo" id="OrderInfoResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastModified"    column="last_modified"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="orderNo"    column="order_no"    />
        <result property="dr"    column="dr"    />
        <result property="parentOrderId"    column="parent_order_id"    />
        <result property="orderUsername"    column="order_username"    />
        <result property="orderPhone"    column="order_phone"    />
        <result property="userId"    column="user_id"    />
        <result property="date"    column="date"    />
        <result property="send"    column="send"    />
        <result property="cnyAmount"    column="cny_amount"    />
        <result property="hkAmount"    column="hk_amount"    />
        <result property="score"    column="score"    />
        <result property="hkCostAmount"    column="hk_cost_amount"    />
        <result property="parentOrderName"    column="parentOrderName"    />
        <result property="parentOrderDate"    column="parentOrderDate"    />
        <result property="memberNo"    column="member_no"    />
    </resultMap>

    <resultMap type="com.kingdom.system.data.dto.OrderExcelDTO" id="OrderExcelResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="memberNo"    column="member_no"    />
        <result property="orderUsername"    column="order_username"    />
        <result property="remark"    column="remark"    />
        <result property="statusString"    column="statusString"    />
    </resultMap>
	
	<sql id="selectOrderInfoVo">
        select id, create_time, status, send, remark, order_no, dr, parent_order_id, member_no, order_username, user_id, date from t_order_info
    </sql>
	
    <select id="selectOrderInfoList" resultMap="OrderInfoResult">
        select a.id, a.create_time, a.status, a.send, a.remark, a.order_no, a.dr, a.parent_order_id, a.member_no, a.order_username, a.user_id, a.date,
        sum(b.cny_amount) cny_amount, sum(b.hk_amount) hk_amount
        from t_order_info a join t_order_product b on a.id = b.order_id
        <if test=" startDate != '' and endDate != '' ">  join t_order_parent f on a.parent_order_id = f.id and (f.date <![CDATA[ >= ]]> #{startDate} and f.date <![CDATA[ <= ]]> #{endDate} )</if>
        <if test=" express != '' ">  join t_order_express e on a.id = e.order_id and (e.express_name like #{express} or e.express_phone like #{express} )</if>
        <if test=" orderUser != '' "> join t_order_user d on a.id = d.order_id  and (d.user_name like #{orderUser} or d.user_no like #{orderUser} ) </if>
        where 1 = 1
        <if test=" payUser != '' "> and (a.order_username like #{payUser} or a.order_phone like #{payUser} )</if>
        group by a.id
        order by a.id desc
    </select>

    <select id="selectExcel" resultMap="OrderExcelResult">
        select a.id, a.order_no,a.member_no, order_username, a.remark,case when sum(b.express_number) is null then '未发货' when sum(b.express_number) = 0 then '已发货' else '部分发货' end statusString from t_order_info a
        left join t_order_detail b on a.id = b.order_id and b.express_number != b.number
        where a.parent_order_id = #{parentOrderId}
        group by a.id
        order by a.id desc
    </select>



    <select id="selectOrderInfoListByUserId" resultMap="OrderInfoResult">
        select a.id, a.create_time, a.status, a.send, a.remark, a.order_no, a.dr, a.parent_order_id, a.member_no, a.order_username, a.user_id, a.date,
        sum(b.cny_amount) cny_amount, sum(b.hk_amount) hk_amount
        from t_order_info a join t_order_product b on a.id = b.order_id
        where a.user_id = #{userId}
        group by a.id
        order by a.id desc
    </select>

    
    <select id="selectOrderInfoById" parameterType="Long" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectOrderDetailInfoById" parameterType="Long" resultMap="OrderInfoResult">
       select a.id, a.create_time, a.last_modified, a.status, a.send, a.remark, a.order_no, a.dr, a.parent_order_id,
        a.member_no, a.order_username, a.user_id, a.date, sum(b.score) score, sum(hk_amount) hk_amount, sum(cny_amount)  cny_amount,c.name parentOrderName,c.date parentOrderDate
        from t_order_info a
		left join t_order_parent c on a.parent_order_id = c.id
        join t_order_product b on a.id = b.order_id
        where a.id = #{id}
        group by a.id
    </select>

    <select id="getCountNoUserId" resultMap="OrderInfoResult">
        select a.order_no
        from t_order_info a
        join t_order_user b on a.id = b.order_id
        where b.user_id = -1 and a.parent_order_id = -1;
    </select>

    <select id="getOrderParentSum" resultMap="OrderInfoResult">
        select a.date,sum(score) score,sum(hk_cost_amount) hk_cost_amount
        from t_order_info a
        join t_order_product b on a.id = b.order_id
        where  a.parent_order_id = -1
        group by a.date;
    </select>

    <select id="selectOrderInfoListByParentId" resultMap="OrderInfoResult">
        select a.id, a.create_time, a.status, a.send, a.remark, a.order_no, a.dr, a.parent_order_id, a.member_no, a.order_username, a.user_id, a.date,
        sum(b.cny_amount) cny_amount, sum(b.hk_amount) hk_amount
        from t_order_info a join t_order_product b on a.id = b.order_id
        where a.parent_order_id = #{parentOrderId}
        group by a.id
        order by a.id desc
    </select>

    <select id="selectOrderDetailExcel" resultType="com.kingdom.system.data.dto.OrderDetailExcelDTO">

    </select>

    <insert id="insertOrderInfo" parameterType="com.kingdom.system.data.entity.OrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_order_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			create_time,send,date,
			<if test="status != null  ">status,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="orderNo != null  and orderNo != ''  ">order_no,</if>
			<if test="dr != null  ">dr,</if>
			<if test="parentOrderId != null  ">parent_order_id,</if>
			<if test="orderUsername != null  and orderUsername != ''  ">order_username,</if>
			<if test="memberNo != null  and memberNo != ''  ">member_no,</if>
			<if test="userId != null  ">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			NOW(),0,NOW(),
			<if test="status != null  ">#{status},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="orderNo != null  and orderNo != ''  ">#{orderNo},</if>
			<if test="dr != null  ">#{dr},</if>
			<if test="parentOrderId != null  ">#{parentOrderId},</if>
			<if test="orderUsername != null  and orderUsername != ''  ">#{orderUsername},</if>
			<if test="memberNo != null  and memberNo != ''  ">#{memberNo},</if>
			<if test="userId != null  ">#{userId},</if>
         </trim>
    </insert>
	 
    <update id="updateOrderInfo" parameterType="com.kingdom.system.data.entity.OrderInfo">
        update t_order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null  ">status = #{status},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="parentOrderId != null  ">parent_order_id = #{parentOrderId},</if>
            <if test="orderUsername != null  and orderUsername != ''  ">order_username = #{orderUsername},</if>
            <if test="orderPhone != null  and orderPhone != ''  ">order_phone = #{orderPhone},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateDetail">
        update t_order_info set remark = #{remark} where id = #{id}
    </update>

    <update id="updateOrderParentId">
        update t_order_info set parent_order_id = #{orderParentId} where parent_order_id = -1
    </update>

    <update id="updateOrderNO">
        update t_order_info set order_no = #{orderNo} where id = #{id}
    </update>

    <update id="updateSend">
         update t_order_info set send = #{send} where id = #{orderId}
    </update>

    <delete id="deleteOrderInfoById" parameterType="Long">
        delete from t_order_info where id = #{id}
    </delete>
	
    <delete id="deleteOrderInfoByIds" parameterType="String">
        delete from t_order_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>