<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdom.system.mapper.ProductPackageMapper">
    
    <resultMap type="com.kingdom.system.data.entity.ProductPackage" id="ProductPackageResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastModified"    column="last_modified"    />
        <result property="productId"    column="product_id"    />
        <result property="productBId"    column="product_b_id"    />
        <result property="number"    column="number"    />
    </resultMap>

    <resultMap type="com.kingdom.system.data.vo.ProductPackageVO" id="ProductPackageVOResult" extends="ProductPackageResult">
        <result property="name"    column="name"    />
    </resultMap>

	<sql id="selectProductPackageVo">
        select a.id, a.create_time, a.last_modified, a.product_id, a.product_b_id, a.number, b.name from t_product_package a join t_product b on a.product_b_id = b.id
    </sql>
	
    <select id="selectProductPackageList" parameterType="com.kingdom.system.data.entity.ProductPackage" resultMap="ProductPackageResult">
        <include refid="selectProductPackageVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="lastModified != null "> and last_modified = #{lastModified}</if>
             <if test="productId != null "> and product_id = #{productId}</if>
             <if test="productBId != null "> and product_b_id = #{productBId}</if>
             <if test="number != null "> and number = #{number}</if>
         </where>
    </select>
    
    <select id="selectProductPackageById" parameterType="Long" resultMap="ProductPackageResult">
        <include refid="selectProductPackageVo"/>
        where id = #{id}
    </select>


    <select id="listByProductIds" resultMap="ProductPackageVOResult">
        <include refid="selectProductPackageVo"/>
        where a.product_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertProductPackage" parameterType="com.kingdom.system.data.entity.ProductPackage">
        insert into t_product_package
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="createTime != null  ">create_time,</if>
			<if test="productId != null  ">product_id,</if>
			<if test="productBId != null  ">product_b_id,</if>
			<if test="number != null  ">number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="createTime != null  ">#{createTime},</if>
			<if test="productId != null  ">#{productId},</if>
			<if test="productBId != null  ">#{productBId},</if>
			<if test="number != null  ">#{number},</if>
         </trim>
    </insert>

    <insert id="insertProductPackages" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_product_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
           create_time,
           product_id,
           product_b_id,
           number
        </trim>
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (#{item.createTime},
           #{item.productId},
           #{item.productBId},
            #{item.number})
        </foreach>
    </insert>

	 
    <update id="updateProductPackage" parameterType="com.kingdom.system.data.entity.ProductPackage">
        update t_product_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="lastModified != null  ">last_modified = #{lastModified},</if>
            <if test="productId != null  ">product_id = #{productId},</if>
            <if test="productBId != null  ">product_b_id = #{productBId},</if>
            <if test="number != null  ">number = #{number},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteProductPackageById" parameterType="Long">
        delete from t_product_package where id = #{id}
    </delete>
	
    <delete id="deleteProductPackageByIds" parameterType="String">
        delete from t_product_package where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteProductPackageByProductId" parameterType="Long">
        delete from t_product_package where productId = #{productId}
    </delete>

</mapper>